body {
  margin: 0;
  font-family: "Rubik", Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
.header-top {
  padding: 28px 0;
  background-color: #f6f6f6;
}
.container {
  width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header-top-inner {
  display: flex;
  justify-content: space-between;
}
.header-top-start {
  display: flex;
}
/* .site-logo {
}
.site-logo-img {
} */
.currency-list {
  display: flex;
  list-style: none;
}
.currency-symbol {
  margin-right: 25px;
  color: #555;
}
.symbol {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2959ce;
  padding-left: 10px;
}
.currency-symbol-2 {
  color: #555;
}
.symbol-2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2959ce;
}
.header-top-end {
  display: flex;
  align-items: center;
}
.search-box {
  width: 275px;
  margin-right: 25px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 41px;
  border-radius: 60px;
  background-color: #fff;
  color: #8d8d8d;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.lang-vew-site {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70px;
  height: 38px;
  margin-right: 28px;
  border-radius: 39px;
  background-color: #dce6ff;
}
.site-lang-link-uz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 13px;
  background-color: #fff;
  border-radius: 50%;
  text-decoration: none;
  color: #000;
}
.Ru {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #a6a6a6;
}
.site-lang-link-ru {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #a6a6a6;
}
.open-link {
  padding: 13px 20px;
  background: #7296ec;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
}
/* .openlink:hover{
    
}
.header-nav {
} */
/* .site-navigation {
} */
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1px;
}
/* .nav-item {
}  */
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
}
/* .advertising {
}
.intro {
} */
.intro-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.intro-list-item {
  width: 393px;
  height: 382px;
  background: #f6f6f6;
  border-radius: 15px;
  margin: 10px;
  margin-left: -40px;
}
.intro-link {
  text-decoration: none;
}
.intro-link-text {
  margin: 20px 18px;
  width: 358px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.intro-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: -15px 18px;
  color: #4a4b4c;
}
.intro-picture {
  margin: 27px 18px;
}
.intro-list-under {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: -9px 18px;
}
.intro-list-under-text {
  display: contents;
}
/* .enter {
} */
.enter-center {
  background-color: #ffd7ba;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1050px;
  margin: auto;
  border-radius: 10px;
}
.enter-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  width: 404px;
  color: #000000;
}
.enter-link {
  text-decoration: none;
  width: 149px;
  height: 50px;
  left: 1041px;
  top: 1253px;
  color: #fff;
  background-color: #f78b3b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-main {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: block;
  margin: 30px 0px;
  color: #000000;
}
.news-box {
  display: flex;
  margin: -32px -50px;
}
.news-left {
  display: flex;
  flex-direction: column;
}
.news-item {
  list-style: none;
}
.news-item-list {
  width: 797px;
  background: #f6f6f6;
  border-radius: 15px;
  display: flex;
  margin: -20px -40px;
  align-items: center;
  margin: 10px;
}
/* .news-case {
} */
.news-picture {
  width: 210px;
  height: 165px;
  margin: 20px 17px;
}
/* .news-shell {
} */
.news-link {
  text-decoration: none;
}
.news-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  width: 535px;
  color: #000000;
  display: contents;
}
.news-more-text {
  width: 535px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
}
.news-under-text {
  display: flex;
}
/* .news-under-text-img {
} */
.news-contain {
  margin-left: auto;
  margin-right: auto;
}
.link-more {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  background-color: #eaeaea;
  padding-top: 17px;
  padding-left: 310px;
  padding-bottom: 17px;
  padding-right: 343px;
}
.news-text-left {
  margin-top: 16px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 25px;
  padding-left: 17px;
  border-radius: 15px;
  background-color: #f6f6f6;
}

.news-right {
  width: 393px;
  height: 502px;
  background: #f6f6f6;
  border-radius: 15px;
  margin: 26px 0px;
}
.right-item {
  list-style: none;
}
/* .right-item-list {
}
.news-hading {
} */
.advertising-olmos {
  margin: 42px 2px;
}
/* .olmos-link {
}
.olmos-img {
} */
.footer-top {
  display: block;
}
.footer-top-top {
  margin-top: 100px;
  background-color: #7297ef;
}
.footer-logo {
  background-color: transparent;
}
.footer-img {
  margin-top: 40px;
  width: 276px;
  height: 45px;
}
.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-info-text {
  width: 222px;
}
.footer-first-text {
  margin-top: 0;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #fff;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.footer-first-ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 100px;
}
.footer-first-ul-item {
  list-style: none;
  margin: 23px;
  padding-top: 16px;
}
.footer-second-ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 100px;
}
.footer-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.footer-under {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 40px;
}
.footer-second-ul-item {
  list-style: none;
  margin: 23px;
  padding-top: 16px;
}
.footer-under-text {
  margin: 0;
  width: 161px;
  height: 46px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
.footer-under-links {
  list-style: none;
  display: flex;
  margin: 0;
}
.footer-under-icon {
  list-style: none;
  padding-right: 25px;
}
